<div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure>
    <img
    [src]="product().images | productImage"
      [alt]="product().title"
    />
    <!-- <div class="carousel rounded-box w-64">
      @for (image of product().images; track $index) {
      <div class="carousel-item w-full">
        <img
          src="http://localhost:3000/api/files/product/{{ image }}"
          [alt]="product().title"
          class="w-full"
        />
      </div>
      }
    </div> -->
  </figure>
  <div class="card-body">
    <h2 class="card-title font-montserrat">{{ product().title }}</h2>
    <p>{{ product().description | slice : 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <!-- <button [routerLink]="['/product', 't-shirt']" class="btn btn-primary">Ver Producto</button> -->
      <a [routerLink]="['/product', product().slug]" class="link link-primary">Ver producto</a>
    </div>
  </div>
</div>
