@import 'tailwindcss';

@font-face {
  font-family: Montserrat;

  src: url('../public/assets/montserrat-alternates/MontserratAlternates-Medium.ttf');
}

@theme {
  --font-montserrat: 'Montserrat', sans-serif;

  --animate-fadeIn: fadeIn 0.5s ease-in-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, synthwave;
}